.footer {
  padding: 70px 0 20px;
  background-color: #000000;
  // .footer__top
  &__top {
    display: flex;
    margin: 0 -10px 50px -10px;
  }
  // .footer__item
  &__item {
    flex: 0 1 25%;
    padding: 0 10px;
  }
  // .footer__bottom
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .footer__copy
  &__copy {
    color: #d9dbe1;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  // .footer__social-list
  &__social-list {}
}
.footer-item {
  // .footer-item__title
  &__title {
    margin-bottom: 20px;
  }
  // .footer-item__list
  &__list {}
}
.footer-title {
  color: #f9f9f9;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.footer-list {
  // .footer-list__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .footer-list__link
  &__link {
    color: #f9f9f9;
    text-decoration: none;
    img {
      max-width: 162px;
      height: 48px;
    }
  }
}
.footer-social {
  display: flex;
  align-items: center;
  // .footer-social__item
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  // .footer-social__link
  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, .1);
  }
}
